<%= form_with(url: tasks_path, method: :get, scope: :search, local: true) do |form| %>

    <div class="field">
        <%= form.label Task.human_attribute_name(:status) %>
        <%= form.select :status, Task.statuses.keys.to_a, { include_blank: "" } %>
    </div>

    <div class="field">
      <%= form.label Task.human_attribute_name(:title) %>
      <%= form.text_field :title %>
    </div>
   
    <div class="actions">
      <%= form.submit "検索",  id:"search_task" %>
    </div>

<% end %>
  